@using Sandbox;
@using Sandbox.UI;
@inherits PanelComponent

<root>

    <div class="center">
        <div class="crosshair"></div>
    </div>

    <div class="healthbars">
        <div class="healthbar">
            <div class="inner">
                <div class="fill" style="width: @(Stats.Health / Stats.MaxHealth * 100f)%">
                    <p>@Stats.Health</p>
                </div>
            </div>
        </div>
        <div class="staminabar">
            <div class="inner">
                <div class="fill" style="width: @(@Stats.Stamina / @Stats.MaxStamina * 100f)%">
                <p>@Stats.Stamina</p>
                </div>
            </div>
        </div>
        <div class="manabar">
            <div class="inner">
                <div class="fill" style="width: @(@Stats.Mana / @Stats.MaxMana * 100f)%">
                    <p>@Stats.Mana</p>
                </div>
            </div>
        </div>
    </div>

    <div class="xpbars">
        <div class="xpbar">
            <div class="inner">
                <div class="fill" style="width: @(Stats.currentXP / 100 * 100f)%">
                </div>
            </div>
        </div>
    </div>

</root>

@code
{
    [Property] PlayerStats Stats { get; set; }

    //string GetHP()
    //{
        //var hp = (int)Unit.Health;
        //return $"{hp}";
    //}
    
    protected override int BuildHash()
    {
        return System.HashCode.Combine( @Stats.currentXP, @Stats.Health, @Stats.MaxHealth, @Stats.Stamina, @Stats.MaxStamina );
    }
}
